[View in Colaboratory](https://colab.research.google.com/github/tchayintr/python101/blob/master/Python101_t4_list.ipynb)

# **Python101: Tutorial 4 - List**
***Tutorial 4 (T4)***

# **List**

**List of months**

In [21]:
months = ["Janurary", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

jan = months[0]
feb = months[1]

print('ตัวแปร jan:', jan)
print('ตัวแปร feb:', feb)

firstmonth = months[0]
print('เดือนแรก (firstmonth):', firstmonth)
lastmonth = months[-1]
print('เดือนสุดท้าย (lastmonth):', lastmonth)

# list[start:stop]
ffour_months = months[0:4]
print('สี่เดือนแรก:', ffour_months)

ตัวแปร jan: Janurary
ตัวแปร feb: February
เดือนแรก (firstmonth): Janurary
เดือนสุดท้าย (lastmonth): December
สี่เดือนแรก: ['Janurary', 'February', 'March', 'April']

**Length of list**

In [13]:
months = ["Janurary", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

months_length = len(months)
print("Length of months variable:", months_length)

Length of months variable: 12

**List Sorting**

In [14]:
months = ["Janurary", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

sorted_months_asc = sorted(months)
print("Sorted months (Ascending):", sorted_months_asc)

sorted_months_dsc = sorted(months, reverse=True)
print("Sorted months (Descending):", sorted_months_dsc)


numbers = [5, 4, 0, 1, 7, 5]
sorted_numbers_asc = sorted(numbers)
print("Sorted numbers (Ascending):", sorted_numbers_asc)

sorted_numbers_dsc = sorted(numbers, reverse=True)
print("Sorted numbers (Descending):", sorted_numbers_dsc)

Sorted months (Ascending): ['April', 'August', 'December', 'February', 'Janurary', 'July', 'June', 'March', 'May', 'November', 'October', 'September']
Sorted months (Descending): ['September', 'October', 'November', 'May', 'March', 'June', 'July', 'Janurary', 'February', 'December', 'August', 'April']
Sorted numbers (Ascending): [0, 1, 4, 5, 5, 7]
Sorted numbers (Descending): [7, 5, 5, 4, 1, 0]

**List Appeding and Removing**

In [24]:
lst = [5, 4, 0, 1, 7, 5]

lst.append(-1)
print(lst)

lst.append("str")
print(lst)

lst.remove("str")
print(lst)

lst.remove(0)
print(lst)

[5, 4, 0, 1, 7, 5, -1]
[5, 4, 0, 1, 7, 5, -1, 'str']
[5, 4, 0, 1, 7, 5, -1]
[5, 4, 1, 7, 5, -1]

**List Calculation**

In [27]:
lst = [5, 4, 0, 1, 7, 5]

sum_lst = sum(lst)
print("Summation of lst:", sum_lst)

max_lst = max(lst)
print("Maximum element in lst:", max_lst)

min_lst = min(lst)
print("Minimum element in lst:", min_lst)

Summation of lst: 22
Maximum element in lst: 7
Minimum element in lst: 0

# **Looping through list!!**

Let's make a list of students' name

In [31]:
def get_listlength(lst):
  return len(lst)

if __name__ == '__main__':
  students = []

  # วนรับรายชื่อนักเรียนจากคีย์ยอร์ดจนกว่าจะพิมพ์ "Q" หรือ "q"
  while(True):
    user_input = input("Enter a student name: ")

    if user_input.lower() == 'q':
      break

    students.append(user_input)

  # วนลูปเพิ่อแสดงรายชื่อนักเรียนทั้วหมดจาก list ออกทางหน้าจอ
  print("List of students:")
  for student in students:
    print(student)

  print("Number of students:", get_listlength(students))

Enter a student name: a
Enter a student name: f
Enter a student name: e
Enter a student name: q
List of students:
a
f
e
Number of students: 3